[Unit]
Description=Prometheus Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/prometheus --config.file=/usr/local/bin/prometheus.yml --storage.tsdb.path=/var/lib/prometheus 

[Install]
WantedBy=multi-user.target
